
.definities {
      /* background-color: rgb(255, 170, 128); 
      border-radius: 25px; */
      border-left: thick solid rgb(255, 221, 204);
      padding-left: 5px;
      margin-left:30px;
      margin-right:30px;
}


.gevorderd {
      background-color: rgb(204, 221, 255);
      border-radius: 25px; 
      padding-left: 10px;
      margin-left:30px;
      margin-right:30px;
      
}


.jaspuitwerkingen {
      /* background-color: rgb(241, 252, 182); 
      border-radius: 25px; */
      border-left: thick solid rgb(241, 252, 182);
      padding-left: 5px;
      margin-left:30px;
      margin-right:30px;
}


.opgaven {
      /* background-color: rgb(255, 221, 204);
      border-radius: 25px; */
      border-left: thick solid rgb(179, 224, 255);
      padding-left: 5px;
      margin-left:30px;
      margin-right:30px;

}

.opgaven ul { 
    list-style: none;
}
  
  
.uitwerkingen {
      /* background-color: rgb(255, 170, 128); 
      border-radius: 25px; */
      border-left: thick solid rgb(179, 255, 224);
      padding-left: 5px;
      margin-left:30px;
      margin-right:30px;
      position: relative;
        
}

.uitwerkingen ul{ 
   line-height: 1.6;
   list-style: none;

}

.voorbeeld ul { 
  list-style: none;
}

.voorbeeld li:first-child { 
  margin-top: 20px;
}

.voorbeeld li:last-child{ 
  margin-bottom: 20px;
}

